.wrapper {
  :global {
    .fees {
      padding: 197px 0 167px;
      @media (max-width: 1536px) {
        padding: 233px 0 210px;
      }
      @media (max-width: 1279px) {
        padding: 120px 0 92px;
      }
      @media (max-width: 767px) {
        padding: 96px 0 0;
      }
    }

    .our-landscape {
      padding-top: 0px;
      @media (max-width: 1536px) {
        padding-top: 0px;
      }
      @media (max-width: 767px) {
        padding-bottom: 139.5px;
      }
    }

    .tutorial {
      padding-top: 0px;
      @media (max-width: 1536px) {
        padding-top: 0px;
      }
      @media (max-width: 1279px) {
        padding-top: 0px;
      }
      @media (max-width: 767px) {
        padding-top: 0px;
      }
    }

    .faq {
      padding: 200px 0;
      @media (max-width: 1536px) {
        padding-top: 200px;
        padding-bottom: 202px;
      }
      @media (max-width: 1279px) {
        padding-top: 120px;
        padding-bottom: 122px;
      }
      @media (max-width: 767px) {
        padding-top: 96px;
        padding-bottom: 0px;
      }
    }
  }
}
