@import "button";

:root {
  --header-height: 72px;
  --xxs: 400px;
  --xs: 576px;
  --sm: 767px;
  --md: 830px;
  --lg: 1024px;
  --xl: 1279px;
  --xxl: 1536px;

  @media (max-width: 1279px) {
    --header-height: 72px;
  }
  @media (max-width: 767px) {
    --header-height: 54px;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  position: relative;
}

html {
  font-size: 100%;
}

a {
  color: inherit;
  text-decoration: none;
  display: contents;
}

ul,
li {
  list-style: none;
}

.containerHeader {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 60px;
  @media (max-width: 1536px) {
    padding: 0 32px;
  }
  @media (max-width: 1279px) {
    padding: 0 40px;
  }
  @media (max-width: 767px) {
    padding: 0 16px;
  }
}

.container {
  max-width: 1400px;
  margin: 0 auto;

  @media (max-width: 1536px) {
    max-width: 1216px;
  }
  @media (max-width: 1279px) {
    max-width: 767px;
  }
  @media (max-width: 1024px) {
    max-width: 767px;
    padding: 0 40px;
  }
  @media (max-width: 767px) {
    max-width: 100%;
    padding: 0 16px;
  }
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-family: inherit;
}

.no-scroll {
  overflow: hidden !important;
}
.events-none {
  pointer-events: none;
  touch-action: none;
}
.loader-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.display-enter {
  opacity: 0;
}
.display-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.display-exit {
  opacity: 1;
}
.display-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}
#calendly-model-wrapper .calendly-popup {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 100%;
}
#calendly-model-wrapper .calendly-overlay .calendly-popup-close {
  right: 50px;
  @media screen and (max-width: 976px) {
    right: 25px;
  }
}
.title-1 {
  color: var(--directness-black, #2d3439);

  font-size: 64px;
  font-weight: 400;
  line-height: 74px;
  letter-spacing: -1.28px;
  @media (max-width: 767px) {
    font-size: 40px;
    line-height: 46px;
    font-weight: 700;
  }
}
.title-2 {
  color: var(--directness-black, #2d3439);

  font-size: 56px;
  font-weight: 400;
  line-height: 66px;
  @media (max-width: 767px) {
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
  }
}
.title-3 {
  color: var(--directness-black, #2d3439);

  font-size: 40px;
  font-weight: 400;
  line-height: 46px;
  @media (max-width: 767px) {
    font-size: 32px;
    line-height: 42px;
    font-weight: 700;
  }
}
.title-4 {
  color: var(--directness-black, #2d3439);
  font-size: 32px;
  font-weight: 400;
  line-height: 42px;
  @media (max-width: 767px) {
    font-size: 24px;
    line-height: 34px;
  }
}
.title-5 {
  color: var(--directness-black, #2d3439);

  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  @media (max-width: 767px) {
    font-size: 18px;
    line-height: 22px;
  }
}
.paragraph {
  color: var(--directness-black, #2d3439);

  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}
.title-small-spaces {
  color: var(--directness-black, rgba(45, 52, 57, 0));
  pointer-events: none;

  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}
.title-cta {
  color: var(--ambitious-green, #077453);

  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}
.title-ibm-1 {
  color: var(--ambitious-green, #077453);

  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}
.title-ibm-2 {
  color: #272727;

  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  @media (max-width: 767px) {
    font-size: 14px;
    line-height: 11px;
  }
}
